Flask>=3.1.0
SQLAlchemy>=2.0.25
Flask-SQLAlchemy>=3.1.1
Flask-Migrate>=4.0.0
alembic>=1.13.0
gunicorn>=21.2.0
psycopg2-binary>=2.9.9
requests>=2.31.0
psutil>=5.9.0
pytest>=8.0.0
setuptools>=65.0.0
stripe>=10.0.0
